/* Tags */

body {
    margin: 1.25rem;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    background-color: white;
    padding: 0.5%;
}

button{
    font-size: 125%;
    scale:1.5;
    padding: 0.313rem;
    border-radius: 0.625rem;
    border: 0.25rem solid #1c6daf;
}

/* IDs */

#titleBar {
    color: white;
    background-color: #c02942;
    border-radius: .25rem;
    font-size: 5rem;
    margin: 0rem;
}

#question1 {  
    background-color: #1c6daf;
    text-align: center;
    padding: 2%;
}

#Q1, #Q2, #Q3, #Q4, #Q5 {
    font-size: 120%;
}

#question2 {  
    background-color: #1c6daf;
    text-align: center;
    padding: 2%;
}

#question3 {  
    background-color: #1c6daf;
    text-align: center;
    padding: 2%;
}

#question4 {  
    background-color: #1c6daf;
    text-align: center;
    padding: 2%;
}

#question5 {  
    background-color: #1c6daf;
    text-align: center;
    padding: 2%;
}

#submit {
    background-color: #c02942;
    text-align: center;
    padding: 2%;
}

#submitButton {
    font-size: 125%;
    scale:1.5;
    padding: 0.313rem;
    border-radius: 0.625rem;
}

#dropbtn {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 0.625rem;
}

#Q5dropdown {
    min-width: 10.313rem;
}

#questionNumber {
    background-color: #1c6daf;
    text-align: left;
    padding: 0rem;
    margin: 0rem;
}

#confirmSubmit {
    position: fixed;
    top: calc((100% / 2) - (130.63px / 2));
    left: calc((100% / 2) - (466px / 2));
    padding: 0.625rem;
    background-color: white;
    border: 0.188rem solid black;
    border-radius: 1.875rem;

    visibility: hidden;
}
#confirmButtons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.25rem;
    justify-content: center;
    width: 27.5rem;
}
#item-1 {
    grid-column: 1;
    cursor: pointer;
}
#item-2 {
    grid-column: 2;
    cursor: pointer;
}
#item-1, #item-2 {
    cursor: pointer;
    width: 11.25rem;
}
#item-1:hover, #item-2:hover {
    background-color: gray;
}

/* classes */

.questionButton {
    min-width: 5rem;
}

.questionBox, h3, .submitBox{
    border-radius: 1.875rem;
}